<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247730670466-tc414ncddkil5kqcqvqrsn7r4nlo2m9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247730670466-tc414ncddkil5kqcqvqrsn7r4nlo2m9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBcQtXDuf_2PfRMyMWRkfrSgHlaQF2oNwc</string>
	<key>GCM_SENDER_ID</key>
	<string>247730670466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diabetaApp</string>
	<key>PROJECT_ID</key>
	<string>diabeta-e2bfe</string>
	<key>STORAGE_BUCKET</key>
	<string>diabeta-e2bfe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247730670466:ios:b33e66d123772576a05d9b</string>
</dict>
</plist>